aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
asgiref==3.11.1
attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
crispy-bootstrap5==2026.3
Django==6.0.4
django-ckeditor==6.7.3
django-crispy-forms==2.6
django-js-asset==3.1.2
frozenlist==1.8.0
idna==3.13
multidict==6.7.1
pillow==12.2.0
propcache==0.4.1
pytz==2026.1.post1
requests==2.33.1
sqlparse==0.5.5
telepot==12.7
typing_extensions==4.15.0
urllib3==2.6.3
yarl==1.23.0
