<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="KIE Xususiy Bandlik Kompaniyasi!" />
        <meta name="author" content="KIE" />
        <title>KIE Xususiy Bandlik Kompaniyasi!</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

    </head>
    <body>
        <!-- Navigation-->
        <!-- Button trigger modal -->



        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand text-dark" href="#!"><img src="/static/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-dark" href="{% url 'kie_app:index' %}">
                                <b>Bosh sahifa!</b>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link text-dark" href="#!"><b>Haqimizda</b></a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="#!"><b>Xizmatlarimiz</b></a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="{% url 'kie_app:contact' %}"><b>Menga ishchi kerak!</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5 mb-5">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-12">
                        <h1 class="display-4 text-white mt-5 mb-2">KIE xususiy bandlik kompaniyasi!</h1>
                        <p class="lead mb-5 text-white-50">Hozirda O'zbekistoning ko'plab fuqarolarini bandlik bilan ta'minlab kelayotgan va ish topishga yordam bera yotgan KIE Xususiy Bandlik Kompaniyasi!</p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-5">
                    {% if user.is_authenticated %}
                    <h2> {{user.username}} </h2>

                    {% else %}
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xush kelibsiz!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Assalomu alaykum KIE Xususiy Bandlik Kompaniyasining rasmiy saytiga Xush kelibsiz!
                    <br>
                    Sayt to'liq ishlashi uchun Ro'yhatdan otishingizni yoki shaxsiy akkauntingizga kirishingizni tavsiya qilamiz!
                    <br>
                    <br>
                    <center>
                    <a href="{% url 'accounts:login' %}" type="button" class="btn btn-success">Ro'yhatdan o'tish</a>
                    <a href="#" type="button" class="btn btn-info">Kirish</a>
                    </center>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                    </div>
                    </div>
                    </div>
                    </div>
        {% endif %}
                    <h2>Haqimizda!</h2>

                    <hr/>
                    <p> Ish qidiryapsizmi?</p>
                    <p> Unda bizning xizmatlarimiz aynan sizlar uchun! KIE xususiy bandlik kompaniyasi hozirda O'zbekistoning ko'plab fuqarolarini ish bilan ta'minlab kelmoqda. Eum placeat reprehenderit sapiente doloribus ratione dolor voluptas corrupti consequatur pariatur inventore.</p>
                    <a class="btn btn-primary btn-lg" href="#!">Ko'proq ma'lumot »</a>
                </div>
                <div class="col-md-4 mb-5">
                    <h2>Murojaat: </h2>
                    <hr />
                    <address>
                        <strong>KIE kompaniyasi!</strong>
                        <br />
                        53, Bobur ko'chasi,
                        <br />
                        Andijan, Uzbekistan
                        <br />
                    </address>
                    <address>
                        <abbr title="Phone">Telefon:</abbr>
                        +998(99)0114807
                        <br />
                        <abbr title="Email">Email:</abbr>
                        <a href="mailto:#">kiebandlik@gmail.com</a>
                    </address>
                </div>
            </div>
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4 mb-5">
                    <div class="shadow-lg card h-100">
                        <img class="card-img-top" src="{{post.img.url}}" alt="Post rasmi" />
                        <div class="card-body">
                
                            <h4 class="card-title">{{post.title}}</h4>
                            <p class="card-text text-info">#{{post.category}}</p>
                            {% autoescape off %}
                            <p class="card-text">{{post.body}}</p>
                            {% endautoescape %}
                        </div>
                        <form method="POST" action="">
                        {% csrf_token %}
                        <div class="card-footer"><button class="btn btn-primary" type="submit" value={{user.username}}{{post.title}} name=title>Zakaz!</button></div>
                    </form>
                    </div>
                </div>
                {% endfor %}
        
            </div>
        </div>
    

            
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Salohiddin 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script>
            $(document).ready(function(){
                $('#exampleModal').modal('show');
            });
        </script>
    </body>
</html>
